/* Estilização da navbar */
.navbar {
  background-color: #282a33;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 56px;
}
.logo{
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
