.navbar {
  background: radial-gradient(ellipse at top , hsla(273, 100%, 50%, 0.25) 6%, rgb(0, 0, 0) 70%);
  background-color: rgba(0, 0, 0); /* Fundo semi-transparente */

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.237);
}

.logo{
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;

}

.iconeSidebar{
  font-size: 30px;
  cursor: pointer;
  color: hsla(273, 100%, 50%);
}


.imgBandeira{
  background-image: url("../../../assets/icon_bandeiraQuadriculada.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
} 