/*estilizando formulario*/
.form-group {
  margin-bottom: 20px;
  position: relative;
}

.floating-input {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #eeeeee;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
}

.floating-label {
  position: absolute;
  top: 0%;
  left: 20px;
  transform: translateY(-50%);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  background-color: #000000;
  padding: 0 5px;
}

.floating-input:focus {
  border-color: #800080;
  outline: none;
}

button {
  border-radius: 10px;
  width: 100%;
  background-color: #ac1aac;
}

.alterarIconeSenha {
  position: absolute;
  width: 10px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.alterarIconeSenha i {
  font-size: 1.5em;
  color: #800080;
}

.msgDadoSalvo {
  color: chartreuse;
  padding-left: 40%;
  padding-bottom: 10px;
}
