<div class="conteudoExcluir">
    <h2 class="titulo excluir">Política de Exclusão de Conta</h2>
    <p>A sua experiência conosco é muito importante, e entendemos que, por diversas razões, você possa desejar excluir a
        sua conta. Nossa Política de Exclusão de Conta explica o processo detalhado para garantir que você possa tomar
        uma decisão informada sobre a exclusão dos seus dados pessoais, assim como as implicações dessa ação.

        Ao solicitar a exclusão da sua conta, esteja ciente de que todos os dados associados à sua conta serão apagados
        de forma permanente, incluindo posts, fotos, vídeos, informações de perfil, histórico de interações, entre
        outros conteúdos relacionados ao uso do serviço.</p>

    <p>Por favor, pense cuidadosamente antes de continuar.</p>
    <br>
    <h3>Consequências da Exclusão de Conta</h3>
    <p>Após a exclusão de sua conta, as seguintes consequências ocorrerão:</p>

    <ul>
        <li><strong>Perda permanente de dados</strong>: Todos os dados armazenados, como fotos, mensagens, interações e
            configurações personalizadas, serão permanentemente apagados e não poderão ser recuperados.</li>
        <li><strong>Impossibilidade de reativação</strong>: A exclusão de conta é irreversível. Após concluir o
            processo, sua conta não poderá ser reativada, nem você poderá recuperar os dados anteriormente associados à
            sua conta.</li>
        <li><strong>Interrupção de funcionalidades</strong>: Você deixará de ter acesso a todas as funcionalidades e
            recursos relacionados à sua conta. Isso inclui interações com amigos, grupos e qualquer outro conteúdo
            associado ao seu perfil.</li>
    </ul>
    <br>
    <h3>Recuperação de Conta Após Exclusão</h3>
    <p>
        Infelizmente, uma vez que a conta for excluída permanentemente, não há possibilidade de recuperação.
        Recomendamos que você faça backup de qualquer dado importante antes de concluir a exclusão, como fotos, vídeos
        ou mensagens.
    </p>
    <br>
    <h3>Compromisso com a Privacidade e Segurança</h3>

    <p>Valorizamos a sua privacidade e segurança. Após a exclusão da conta, tomaremos todas as medidas necessárias para
        garantir que os seus dados pessoais sejam removidos de maneira segura e irreversível, conforme nossas políticas
        de segurança e privacidade.
    </p>
    <br>
    <h3>Considerações Finais</h3>
    <p>
        Entendemos que a decisão de excluir uma conta não é fácil, e respeitamos sua escolha. Se em algum momento você
        mudar de ideia, saiba que estaremos sempre prontos para ajudá-lo a retomar sua experiência conosco. Agradecemos
        por ter sido parte da nossa comunidade e esperamos ter atendido às suas expectativas durante o tempo em que usou
        nossos serviços.
    </p>

    <button type="button" class="btn excluir-btn" (click)="deletarConta()">Excluir conta</button>

</div>