<form #form="ngForm" (ngSubmit)="validarLogin()" novalidate (keydown.enter)="validarLogin()">
  <div data-mdb-input-init class="form-outline form-white mb-4">
    <input type="text" id="text" class="form-control form-control-lg" [(ngModel)]="login" name="login"
      required #loginModel="ngModel" />
    <label class="form-label" for="text">Email / Usuario</label>
    <div *ngIf="loginModel.invalid && loginModel.touched" class="text-danger">
      <small *ngIf="loginModel.errors?.['required']">O login é obrigatório.</small>
    </div>
  </div>

  <div data-mdb-input-init class="form-outline form-white mb-4">
    <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="senha"
      name="senha" required #senhaModel="ngModel" />
    <label class="form-label" for="typePasswordX">Senha</label>
    <div *ngIf="senhaModel.invalid && senhaModel.touched" class="text-danger">
      <small *ngIf="senhaModel.errors?.['required']">A senha é obrigatória.</small>
    </div>
  </div>

  <div *ngIf="isLoginInvalid" class="msgLoginInvalid">
    <p>Usuario invalido! Digite um usuario valido!</p>
  </div>

  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5"
    type="submit" [disabled]="form.invalid">Login</button>
</form>
