

<div id="sidebar" class="p-3 text-white" [ngClass]="{'open': isSidebarOpen}">

  <ul class="nav flex-column">
    <li class="nav-item d-flex align-items-center mb-3">
      <button class="btn-icon" (click)="redirectPerfil()">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="imgUsuario rounded-circle me-2" alt="Perfil" />
        <span class="text-white mb-0">Jhon</span>
      </button>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <button class="btn-icon" (click)="redirectHome()">
        <i class="bi bi-house custom-icon"></i>
        <span class="text-white">Perfil</span>
      </button>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <button class="btn-icon" (click)="redirectConfig()">
        <i class="bi bi-gear custom-icon"></i>
        <span class="text-white">Configurações</span>
      </button>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <button class="btn-icon" (click)="logout()">
        <i class="bi bi-escape custom-icon"></i>
        <span class="text-white">Sair</span>
      </button>
    </li>
  </ul>

</div>
