#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 100px;
  background-color: #000000;
  height: calc(100vh - 56px);
  padding-top: 1rem;
  transition: left 0.3s ease;
  z-index: 50;
}

#sidebar.open {
  left: -250px;
}

/*Estilizando icones*/
.custom-icon {
  font-size: 2rem;
  margin-right: 10px;
  color: hsla(273, 100%, 50%);
}

.custom-icon.submenu{
  font-size: 1.5rem;
}

.contSubMenu{
  margin-left: 30px;
}

.btn-icon {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 50px;
  width: auto;
  min-width: 100px;
}

.btn-icon:hover {
  background-color: rgba(138, 9, 138, 0.538);
  border-color: hsla(273, 100%, 50%);
  border-radius: 50px;
  width: auto;
}

.custom-icon {
  font-size: 2rem;
  color: hsla(273, 100%, 50%);
  margin-right: 10px;
}

.imgUsuario {
  width: 35x;
  height: 35px;
  margin-right: 8px;
  border: 2px solid hsla(273, 100%, 50%);
}
/*
@media (max-width: 768px) {
  #sidebar.open {
    left: 0px;
  }
} */
