<div id="sidebar" class="p-3 text-white">

  <ul class="nav flex-column">
    <li class="nav-item d-flex align-items-center mb-3 ">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 15px;"
        class="rounded-circle me-2" alt="Perfil" />
      <p class="mb-0">Jhon</p>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <div class="imgHome"></div>
      <a class="text-white mb-0" href="javascript:void(0)" (click)="redirectHome()">Home</a>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <div class="imgPerfil"></div>
      <a class="text-white mb-0" href="javascript:void(0)" (click)="redirectPerfil()">Perfil</a>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <div class="imgConfig"></div>
      <a class="text-white mb-0" href="javascript:void(0)" (click)="redirectConfig()">Configurações</a>
    </li>

    <li class="nav-item d-flex align-items-center mb-4">
      <div class="imgSair"></div>
      <a class="text-white mb-0" href="javascript:void(0)" (click)="logout()">Sair</a>
    </li>
  </ul>
</div>
