
#sidebar {
  width: 250px;
  position: fixed;
  top: 100px;
  left: -250px; /* Inicialmente escondido */
  background-color: #17191b;
  height: calc(100vh - 56px);
  padding-top: 1rem;
  transition: left 0.3s ease;
}

#sidebar.open {
  left: 0; /* Quando estiver aberto */
}


.imgHome{
  background-image: url("../../../../assets/icone_home.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.imgPerfil{
  background-image: url("../../../../assets/icone_perfil.webp");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.imgConfig{
  background-image: url("../../../../assets/icone_config.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.imgSair{
  background-image: url("../../../../assets/icone_sair.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

