
/* Importando a fonte Roboto */
html,
body {
  height: 100%;
  font-family: 'Agbalumo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #17191b;
  color: rgb(255, 255, 255);
}
.MensagemCOnt{
    background-color: #212025;
    border-radius: 10px;
    padding-left: 10px;
}






.logo{
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Estilização do conteúdo central */
.content {
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  background-color: #17191b;
  overflow-y: visible;
  /* Adiciona rolagem vertical se o conteúdo exceder a altura */
  position: relative;
  top: 56px;
}

