<body>
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Sidebar esquerda -->
  <app-sidebar-left></app-sidebar-left>

  <!-- Conteúdo Central -->
  <div class="content">
    <div class="MensagemCOnt">
      <h3 class="mb-4">
        Areá de publicação</h3>
    </div>

    <div class="formulario">
      <form>
        <div class="form-group">
          <label>Foto (URL)</label>
          <input type="url" class="form-control" placeholder="URL da foto que deseja comprar ">
        </div>
        <div class="form-group">
          <label>Legenda</label>
          <textarea class="form-control" rows="3" placeholder="Escreva o que está pensando sobre a foto..."></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Postar</button>
      </form>
    </div>
  </div>

</body>
