

.msgConteudoCentral{
    padding-left: 10px;
  }

/* Estilização do conteúdo central */
.contCentral {
  color: white;
  padding: 20px;
  overflow-y: visible;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: -1;
  margin-top: 100px;
}
