
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

.msgConteudoCentral{
    padding-left: 10px;
  }

/* Estilização do conteúdo central */
.contCentral {
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  overflow-y: visible;
  position: relative;
  top: 150px;
}
