
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

.msgConteudoCentral{
    padding-left: 10px;
  }

/* Estilização do conteúdo central */
.contCentral {
  padding: 20px;
  overflow-y: visible;
  top: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
