.form-control {
  color: #000080; /* azul escuro */
}

.form-check-label, label {
  color: white
}
.titulo {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;

  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #1a1a2e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(10, 10, 35, 1), rgba(13, 42, 84, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(10, 10, 35, 1), rgba(13, 42, 84, 1));
}


