<!--Modelo de Postagem-->
<div class="contCentral post mb-4 p-3" style="color: #ffffff;">
  <!--nome e foto-->
  <div class="post-header d-flex align-items-center mb-2">

    <!--se não tiver ft de perfil usar..."-->
    <div *ngIf="!isFtPerfil" class="ftPerfil">{{primeiraLetra}}</div>
    
    <div  *ngIf="isFtPerfil">
      <!--se tiver usar a foto-->
      <div class="imgPerfil" [ngStyle]="{ 'background-image': 'url(' + usuario?.fotoPerfil + ')' }"></div>
    </div>

    <strong>{{usuario?.nome}}</strong>
  </div>
  <div class="contLegenda">
    <!--legenda-->
    <p>{{publicacao?.legenda}}</p>
  </div>
  <!--imagem-->
  <div class="image-container">
    <div class="blur-background" [ngStyle]="{ 'background-image': 'url(' + publicacao.imageUrl + ')' }"></div>
    <img [src]="publicacao.imageUrl" alt="Imagem principal" class="main-image" [ngClass]="publicacao.imageClass" />
  </div>
</div>
