<div id="sidebar-right" class="p-3 text-white">
  <h4>Usuários</h4>
  <ul class="nav flex-column">
    <li class="nav-item d-flex align-items-center mb-3 ">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 15px;"
        class="rounded-circle me-2" alt="Perfil" />
      <p class="mb-0">Jhon</p>
    </li>
    <li class="nav-item d-flex align-items-center mb-3">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 15px;"
        class="rounded-circle me-2" alt="Perfil" />
      <p class="mb-0">Henrique</p>
    </li>
    <li class="nav-item d-flex align-items-center mb-3">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 15px;"
        class="rounded-circle me-2" alt="Perfil" />
      <p class="mb-0">Fabricio</p>
    </li>
    <li class="nav-item d-flex align-items-center mb-3">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 15px;"
        class="rounded-circle me-2" alt="Perfil" />
      <p class="mb-0">Rezende</p>
    </li>
  </ul>
</div>
