<div id="sidebar-right" class="p-3 text-white">
  <h4>Outros Usuarios</h4>
  <div class="contOutrosUsuarios">
    <ul class="nav flex-column">
      <li class="nav-item d-flex align-items-center mb-3 ">
        <div class="ftPerfil">J</div>
        <p class="mb-0">Jhon</p>
      </li>
      <li class="nav-item d-flex align-items-center mb-3">
        <div class="ftPerfil">H</div>
        <p class="mb-0">Henrique</p>
      </li>
      <li class="nav-item d-flex align-items-center mb-3">
        <div class="ftPerfil">f</div>
        <p class="mb-0">Fabricio</p>
      </li>
      <li class="nav-item d-flex align-items-center mb-3">
        <div class="ftPerfil">R</div>
        <p class="mb-0">Rezende</p>
      </li>
    </ul>
  </div>
</div>
