<body>
  <!--navbar-->
  <app-navbar></app-navbar>

  <!-- Sidebar esquerda -->
  <app-sidebar-left></app-sidebar-left>


  <!-- Conteúdo Central -->
  <div class="content">

    <div class="MensagemCOnt">
      <h3 class="mb-4">
      Sua areá de postagens!! </h3>
    </div>

    <!--Modelo de Postagem-->
    <div class="post mb-4 p-3" style="background-color: #212025; border-radius: 5px; color: #ffffff;">

      <div class="post-header d-flex align-items-center mb-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 10px;"
          class="rounded-circle me-3 " alt="Perfil" />
        <strong>jhon</strong>
      </div>
      <p>Essa é uma postagem incrível sobre carros! 🚗🔥 #carros #aventura</p>
      <img
        src="https://img.freepik.com/vetores-gratis/carro-sedan-vermelho-em-estilo-cartoon-isolado-no-fundo-branco_1308-64900.jpg"
        class="img-fluid mb-2" alt="Postagem" style="display: block; margin: auto;" />
    </div>

    <div class="post mb-4 p-3" style="background-color: #212025; border-radius: 5px; color: #ffffff;">

      <div class="post-header d-flex align-items-center mb-2">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" width="40" height="40" style="margin-right: 10px;"
          class="rounded-circle me-3 " alt="Perfil" />
        <strong>jhon</strong>
      </div>
      <p>Essa é uma postagem incrível sobre carros! 🚗🔥 #carros #aventura</p>
      <img
        src="https://img.freepik.com/vetores-gratis/carro-sedan-vermelho-em-estilo-cartoon-isolado-no-fundo-branco_1308-64900.jpg"
        class="img-fluid mb-2" alt="Postagem" style="display: block; margin: auto;" />
    </div>


  </div>
</body>
